<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.sender.username %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p> <%= link_to "[#{message.game.name}]", game_path(message.game) %> Check out this game! Things will be going down on <%= message.game.game_date.strftime("%e %b") %> at <%= message.game.venue.name %>. Grab your racket and go for it!</p>
</div>
