<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to(root_path, class: "navbar-brand") do %>
      <%= image_tag "pngtree-green-burning-tennis-ball-in-motion-png-image_2202897-removebg-preview.png", alt: "Logo", size: "300x" %>
    <% end %>
    <h1>GAME ON</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <strong><h1><%= link_to "My profile", user_path(current_user), class: "nav-link" %></h1></strong>
          </li>
          <li class="nav-item">
            <h1><%= link_to "Messages", chatrooms_path, class: "nav-link" %></h1>
          </li>
          <li class="nav-item">
            <h1><%= link_to "Create a Game", new_game_path, class: "nav-link" %></h1>
          </li>
          <li class="nav-item">
            <h1><%= link_to "Teams", communities_path, class: "nav-link" %></h1>
          </li>
        <% end %>
        <!-- Games Rules Link -->
        <li class="nav-item">
          <h1><%= link_to "Conduct", games_rules_path, class: "nav-link" %></h1>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= cl_image_tag(current_user.photo.key, class: "avatar", alt: "dropdown menu") if user_signed_in? %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <h1><%= link_to "Login", new_user_session_path, class: "nav-link" %></h1>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
