<div class="container" style="width:600px">

  <br>
  <br>

  <div class="container text-white">
    <%= simple_form_for(@game) do |f| %>
      <%= f.input :sport,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'sports-wrapper',
              item_wrapper_class: 'sports-item',
              input_html: {class: 'sports-selector'},
              collection: Game::VALID_SPORTS%>

      <%= f.input :name,
              label: "Game title",
              placeholder: "Make it pop",
              input_html: { class: "create-form-input"} %>

      <%= f.input :description,
              label: "Description",
              placeholder: "Anything other participants should know?",
              input_html: { class: "create-form-input"} %>


      <%= f.input :capacity,
            collection: 1..8,
            selected: 2,
            input_html: { class: "create-form-input"} %>

      <%= f.input :visibility,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'visibility-wrapper',
              item_wrapper_class: 'visibility-item',
              input_html: {class: 'visibility-selector'},
              collection: Game::VALID_VISIBILITIES %>


      <div data-controller="venues">
        <button type="button" id="show-venues-button" data-action="click->venues#show" class="mt-3 mb-3">Show available venues</button>

        <div class="venue-container d-none" data-venues-target="venuesList">

          <% @venues[0..5].each do |venue| %>
            <button type="button" class="venue-card-button" data-action="click->venues#selectVenue" data-venues-target="selectedVenue" data-venue-id="<%= venue.id %>">
              <div class="venue-card d-flex align-items-center justify-content-between" style="height: 90px">
                <%= cl_image_tag(venue.photo.key, class: "card-game-image", style: "width: 120px; height: 90px; object-fit: cover;") %>
                <div class="venue-details">
                  <%= venue.name %>
                </div>
              </div>
            </button>
          <% end %>

        </div>


        <%= f.association :venue, wrapper_html: {class: "d-none", data: { venues_target: "venueInput" }} %>


        <div class = "d-none mt-4" data-venues-target="submitButton">
          <%= f.submit "Submit", class: "create-submit-button mb-4" %>
        </div>

      </div>

    <% end %>
  </div>
  <br>
  <br>
  <br>
</div>
