<div class="container" style="width:600px">

  <div class="container text-white">
    <%= simple_form_for(@game) do |f| %>
      <%= f.input :sport,
              as: :radio_buttons,
              checked: "Tennis",
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'sports-wrapper',
              item_wrapper_class: 'sports-item',
              input_html: {class: 'sports-selector'},
              collection: Game::VALID_SPORTS%>

      <%= f.input :name,
              label: "Game title",
              placeholder: "Make it pop",
              input_html: { class: "game-title-input"} %>



      <%= f.input :description, placeholder: "Anything other participants should now?" %>
      <%= f.association :venue %>

      <%= f.input :visibility,
              as: :radio_buttons,
              checked: "Public",
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'visibility-wrapper',
              item_wrapper_class: 'visibility-item',
              input_html: {class: 'visibility-selector'},
              collection: Game::VALID_VISIBILITIES %>

      <%= f.input :capacity, as: :integer %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
