<!-- app/views/games/past_games.html.erb -->
<div class="user-game-container">
  <h1 class="games-h1">Past Games</h1>
    <% @past_games.sort_by { |game| [game.game_date, game.start_time] }.each do |game| %>
  <div class="image-info-glue">
    <%= cl_image_tag(game.venue.photo.key, class: "profile-venue-img") %>
    <div class="user-games-card">
      <h1><%= game.name %></h1>
      <p><%= game.sport %></p>
      <p><i class="fa-solid fa-building"></i>  <%= game.venue.name %></p>
      <p><i class="fa-solid fa-calendar-days"> </i>  <%= game.venue.address %></p>
      <p><i class="fa-solid fa-location-dot"> </i>  <%= game.game_date.strftime("%e %b") %> • <i class="fa-solid fa-clock"></i>  <%= game.start_time %>h00</p>
      <%= link_to "Show details", game_path(game), class: "profile-details-button" %>
    </div>
  </div>
  <% end %>
</div>
