<!-- app/views/games/past_games.html.erb -->
<div class="user-game-container">
  <h1 class="games-h1">Past Games</h1>
<% @past_games.sort_by { |game| [game.game_date, game.start_time] }.each do |game| %>
  <div class="image-info-glue">
    <%= cl_image_tag(game.venue.photo.key, class: "profile-venue-img") %>
    <div class="user-games-card">
      <p><strong><%= game.name %></strong></p>
      <p><strong>Sport: </strong><%= game.sport %></p>
      <p><strong>Venue: </strong><%= game.venue.name %></p>
      <p><strong>Address: </strong><%= game.venue.address %></p>
      <p><strong>Date: </strong><%= game.game_date %>, <%= game.start_time %>:00</p>
    </div>
  </div>
<% end %>
</div>
```
