<div class="game-show-text-white">
  <%= link_to "Go back", root_path, class: "game-show-back-link" %>

  <div class="game-show-container">
    <div class="game-show-page-container">
      <div class="game-show-details">
        <% game = Game.find(params[:id]) %>
        <div>
          <h1 class="game-show-header mb-2"><%= game.sport %> - <%= game.name %></h1>
        </div>
        <div class="btn-container">
          <% if @game.creator == current_user %>
            <%= link_to "Edit", edit_game_path(@game), class: "btn-edit" %>
            <%= link_to "Delete",
              game_path(@game),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete" %>
          <% end %>
        </div>
        <div class="game-show-body">
          <%= cl_image_tag(game.venue.photo.key, alt: "#{game.sport} court", class: "game-show-image") %>

          <div class="game-show-info">
            <h2>Description:</h2>
            <p><%= game.description %></p>

            <h2>Date and Time:</h2>

            <p><%=game.game_date %> - <%= game.start_time %> : 00</p>

            <h2>Location:</h2>
            <p><%= game.venue.name %><br><%= game.venue.address %></p>

            <h2>Spots left:</h2>
            <p><%= game.capacity %> spots remaining</p>

            <% if game.capacity > 0 %>
              <%= button_to "Join Game", join_game_path(game), method: :post, class: "game-show-join-button" %>
            <% else %>
              <button class="game-show-join-button" disabled>Game filled</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
