<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('<%= cl_image_path(@game.venue.photo.key) %>'); display: flex; justify-content: center; align-items: center; position: relative;">
  <div style="width: 90%; text-align: center;">
    <% if current_user.participations.exists?(game_id: @game.id, is_creator: true) %>
      <p style="position: absolute; top: 10px; left: 10px;"> <%= @game.sport %><p>
      <p style="position: absolute; top: 10px; right: 140px"> <%= link_to "Edit", edit_game_path(@game), class: "btn-edit" %> <p>
      <p style="position: absolute; top: 10px; right: 10px;"> <%= link_to "Delete", game_path(@game), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete"  %> <p>
    <% end %>
    <h2 style="color: white" class="show-game-title"><%= @game.name %></h2>
    <div style="position: absolute; bottom: 10px; right: 10px;">
      <h2 style="text-align: left; color: white; font-size: 17px"> Players </h2>
      <% @game.participations.each do |participation| %>
      <div class="user-info d-flex align-items-center" style="margin-bottom: 10px;">
        <div class="game-avatar">
          <%= cl_image_tag(participation.user.photo.key, class: "avatar-image") %>
        </div>
        <h3 style="font-size: 15px;color: white; margin-left: 10px;"><%= participation.user.username %></h3>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="mx-auto" style="width: 60%; margin-top: 15px">
  <div>
    <div class="game-show-text-white">
      <div class="game-show-info" style="margin-right: 20px">

        <h1 style="margin-bottom: 1em"><i class="fa-solid fa-building"></i> <%= @game.venue.name %></h1>
        <h2><i class="fa-solid fa-location-dot"></i> <%=@game.game_date.strftime("%e %b") %>   <i class="fa-solid fa-clock"></i> <%= @game.start_time %>:00</h2>

        <h3><i class="fa-solid fa-calendar-days"> </i> <%= @game.venue.address %></h3>

                  <h4><%= @game.description %></h4>
            <% unless current_user.participations.exists?(game_id: @game.id, is_creator: true)%> %>
              <%= simple_form_for(@participation, url: join_game_path(@game), method: :post) do |f| %>
                <div class="d-none">
                  <%= f.input :game_id, as: :hidden, input_html: { value: @game.id } %>
                  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                </div>
                <div class="join-game-btn">
                  <%= f.submit "Join game", class: "create-submit-button mb-4" %>
                </div>
              <% end %>
            <% end %>
            <% if @game.capacity == 0 %>
              <button class="game-show-join-button" disabled>Game filled</button>
            <% end %>
        <div class="d-flex justify-content-center">

        </div>
      </div>
    </div>
  </div>
</div>

<p id="hidden-id" class="d-none"><%= @chatroom_id.to_s %></p>


<div class="container" style="width:650px">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>

  <!-- SweetAlert Trigger Script -->
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('form');
    const id = document.getElementById('hidden-id').innerText;

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      const currentForm = this;
      Swal.fire({
        title: 'Success',
        text: 'Game succesfully joined!',
        icon: 'success',
        confirmButtonText: 'View game chat'
      }).then((result) => {
        if (result.isConfirmed) {
          currentForm.submit();
        }
      });
    });
  });
</script>
</div>
