<h3>Create your own vibe</h3>
<div class="container" style="width:400px">
  <%= simple_form_for(@community) do |f| %>
    <%= f.input :name,
      label: "Name",
      placeholder: "Name",
      input_html: {class: "create-community-input"} %>

    <%= f.input :description,
      label: "Description",
      placeholder: "Description",
      input_html: {class: "create-community-input"} %>

    <%= f.input :visibility,
      as: :radio_buttons,
      checked: "Public",
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'visibility-wrapper',
      item_wrapper_class: 'visibility-item',
      input_html: {class: 'visibility-selector'},
      collection: Community::VALID_VISIBILITIES %>

    <%= f.submit "Submit", class: "create-community-button" %>
  <% end %>

  <%= link_to 'Back to Teams', communities_path, class: "community-button" %>
</div>
