<div class="community-show">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@community.photo.key) %>');">
    <div class="banner-container">
      <h2 class="banner-text"><%= @community.name %></h2>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>
  <div class="community-show-container">
    <!-- Upcoming Games -->
    <div class="upcoming-games">
      <h2 class="community-text">Upcoming Games</h2>
      <% if @upcoming_games.any? %>
        <ul>
          <% @upcoming_games.each do |game| %>
            <div class="image-community-container">
              <%= cl_image_tag(game.venue.photo.key, class: "community-venue-img") %>
              <div class="community-game-card">
                <%= link_to game.name, game, class:"community-list-games" %>
                <p><strong>Sport: </strong><%= game.sport %></p>
                <p><strong>Venue: </strong><%= game.venue.name %></p>
                <p><strong>Address: </strong><%= game.venue.address %></p>
                <p><strong>Start time: </strong><%= game.start_time %>:00</p>
              </div>
            </div>
          <% end %>
        </ul>
      <% else %>
        <h4>No upcoming games.</h4>
      <% end %>
    </div>
    <!-- Leaderboard -->
    <div class="leaderboard">
      <div class="community-chatroom">
        <h2 class="community-text">Community Chatroom</h2>
        <div class="community-inner-chatroom"
          data-controller="chatroom-subscription"
          data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
          <h1>#<%= @chatroom.name %></h1>
          <div class="community-messages text-white" style="width: 100%" data-chatroom-subscription-target="messages">
            <% @chatroom.messages.each do |message| %>
              <% if message.game.present? %>
                <%= render "messages/message_game", message: message %>
              <% else %>
                <%= render "messages/message", message: message %>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= simple_form_for [@chatroom, @message], url: community_messages_path(@community),
          html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex m-2" } do |f|
        %>
        <%= hidden_field_tag :redirect_path, community_path(@community) %>
        <%= f.input :content,
            label: false,
            placeholder: "Message ##{@chatroom.name}",
            class: "community-form-control",
            wrapper_html: {class: "flex-grow-1"}
          %>
        <%= f.submit "Send", class: "community-button btn-primary mb-3" %>
      <% end %>
    </div>
    <h2 class="community-text">Leaderboard</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Ranking</th>
          <th>Player</th>
          <th>Number of Games Won</th>
        </tr>
      </thead>
      <tbody>
        <% @community.memberships.each_with_index do |membership, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <div class="leaderboard-card">
                <div class="leaderboard-avatar">
                  <%= cl_image_tag(membership.user.photo.key, class: "leaderboard-avatar-image") %>
                </div>
                <p class="leaderboard-text"><%= membership.user.first_name %></p>
              </div>
            </td>
            <td>5</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
